<main class="w-100 h-[100vh] flex flex-row">
  <div class="grow-[2] flex justify-center items-center w-100 h-100">
    <ng-container *ngIf="isDisplayMap; else notDisplayedMap">
      <div id="map">
        <google-map width="100%" height="100%" [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions">
          <map-marker
            #marker="mapMarker"
            [position]="mapCenter"
            [options]="markerOptions"
            (mapClick)="openInfoWindow(marker)">
          </map-marker>
          <map-info-window>{{ markerInfoContent }}</map-info-window>
        </google-map>
      </div>

    </ng-container>
    <ng-template #notDisplayedMap>
      <div class="flex justify-center mt-2.5">
        <button class="bg-rose-500 hover:bg-rose-700 text-black dark:text-white font-bold py-2 px-4 rounded-full" (click)="setDisplayMap()">
          Display Map
        </button>
      </div>
    </ng-template>
  </div>
  <aside class="border-l-2 grow-[1] dark:border-white">
    <ng-container *ngIf="isSignedIn; else notLoggedIn">
      <mat-tab-group>
        <mat-tab label="Home">
          <app-home-tab></app-home-tab>
        </mat-tab>
        <mat-tab label="Friends" [disabled]="!isSignedIn">
          <app-friends-tab></app-friends-tab>
        </mat-tab>
      </mat-tab-group>
    </ng-container>

    <ng-template #notLoggedIn>
      <mat-tab-group>
        <mat-tab label="SignIn">
          <div class="flex justify-center mt-2.5">
            <button class="bg-emerald-500 hover:bg-emerald-700 text-black dark:text-white font-bold py-2 px-4 rounded-full" (click)="signIn()">
              Sign in
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </aside>
</main>
<ng-template>
  <p>Loading...</p>
</ng-template>
