<main class="w-100 h-[100vh] flex flex-row">
  <div class="grow-[2] flex justify-center items-center w-100 h-100">
          <div id="map"></div>
  </div>

  <aside class="border-l-2 grow-[1] dark:border-white">
    <ng-container *ngIf="isSignedIn; else notLoggedIn">
      <mat-tab-group>
        <mat-tab label="Home">
          <app-home-tab (checkInStatusChange)="this.onCheckInStatusChange($event)"></app-home-tab>
        </mat-tab>
        <mat-tab label="Friends" [disabled]="!isSignedIn">
          <app-friends-tab [canInviteFriends]="this.canInviteFriends"></app-friends-tab>
        </mat-tab>
      </mat-tab-group>

    </ng-container>

    <ng-template #notLoggedIn>
      <mat-tab-group>
        <mat-tab label="Coffee-In">
          <div class="flex justify-center mt-2.5">
            <button class="bg-emerald-500 hover:bg-emerald-700 text-black dark:text-white font-bold py-2 px-4 rounded-full" (click)="signIn()">
              Sign in
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </aside>
</main>
<ng-template>
  <p>Loading...</p>
</ng-template>
